<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/style/payments.css}" rel="stylesheet" />
</head>
<body>
<form action="#" th:action="@{/payments}" th:object="${paymentDTO}" method="post">
    <p>IBAN:</p>
    <p><input type="text" th:field="*{debtorIban}" th:errorClass="is-invalid"/></p>
    <p th:if="${#fields.hasErrors('debtorIban')}" th:errors="*{debtorIban}">debtorIban Error</p>

    <p>Amount:</p>
    <p><input type="number" th:field="*{amount}" th:errorClass="is-invalid"/></p>
    <p th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">Amount Error</p>

    <p><button type="submit">Submit</button></p>

    <p style="text-align: center; font-size: 2rem" th:if="${successMessage}" th:text="${successMessage}"></p>

    <p style="text-align: center; font-size: 1rem; padding: 1rem; border: 1px solid lightblue" th:if="${ipMessage}" th:text="${ipMessage}"></p>

</form>
<table id = "list">
    <thead>
    <tr>
        <th>UUID</th>
        <th>IBAN</th>
        <th>Amount</th>
        <th>Created At</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="paymentListElement : ${paymentList}">
        <td><span th:text="${paymentListElement.uuid}"> UUID </span></td>
        <td><span th:text="${paymentListElement.debtorIban}"> IBAN </span></td>
        <td><span th:text="${paymentListElement.amount}"> Amount </span></td>
        <td><span th:text="${paymentListElement.createdAt}"> Created At </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>